KeithLink/KeithLink.Svc.WebApi/Service References/com.benekeith.MessagingService/MessagingService6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/KeithLink.Svc.Core.Models.EF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/KeithLink.Svc.Core.Models.EF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BaseEFModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedUtc" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="ModifiedUtc" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseEFModel" nillable="true" type="tns:BaseEFModel" />
</xs:schema>