KeithLink/KeithLink.Svc.WebApi/Service References/com.benekeith.MessagingService/MessagingService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MessagingService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IMessagingService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1317/MessagingService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1317/MessagingService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1317/MessagingService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KeithLink.Svc.Core.Enumerations.Messaging" />
      <xsd:import schemaLocation="http://localhost:1317/MessagingService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/KeithLink.Svc.Core.Models.Messaging.EF" />
      <xsd:import schemaLocation="http://localhost:1317/MessagingService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/KeithLink.Svc.Core.Models.EF" />
      <xsd:import schemaLocation="http://localhost:1317/MessagingService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/KeithLink.Svc.Core.Models.SiteCatalog" />
      <xsd:import schemaLocation="http://localhost:1317/MessagingService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/KeithLink.Svc.Core.Models.Messaging" />
      <xsd:import schemaLocation="http://localhost:1317/MessagingService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/KeithLink.Svc.Core.Models.Profile" />
      <xsd:import schemaLocation="http://localhost:1317/MessagingService.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/KeithLink.Svc.Core.Models.Paging" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMessagingService_AddUserSubscription_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUserSubscription" />
  </wsdl:message>
  <wsdl:message name="IMessagingService_AddUserSubscription_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserSubscriptionResponse" />
  </wsdl:message>
  <wsdl:message name="IMessagingService_RemoveUserSubscription_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveUserSubscription" />
  </wsdl:message>
  <wsdl:message name="IMessagingService_RemoveUserSubscription_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveUserSubscriptionResponse" />
  </wsdl:message>
  <wsdl:message name="IMessagingService_GetUserMessages_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserMessages" />
  </wsdl:message>
  <wsdl:message name="IMessagingService_GetUserMessages_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserMessagesResponse" />
  </wsdl:message>
  <wsdl:message name="IMessagingService_CreateUserMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateUserMessage" />
  </wsdl:message>
  <wsdl:message name="IMessagingService_CreateUserMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateUserMessageResponse" />
  </wsdl:message>
  <wsdl:message name="IMessagingService_ReadUserMessages_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadUserMessages" />
  </wsdl:message>
  <wsdl:message name="IMessagingService_ReadUserMessages_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadUserMessagesResponse" />
  </wsdl:message>
  <wsdl:message name="IMessagingService_MarkAsReadUserMessages_InputMessage">
    <wsdl:part name="parameters" element="tns:MarkAsReadUserMessages" />
  </wsdl:message>
  <wsdl:message name="IMessagingService_MarkAsReadUserMessages_OutputMessage">
    <wsdl:part name="parameters" element="tns:MarkAsReadUserMessagesResponse" />
  </wsdl:message>
  <wsdl:message name="IMessagingService_TestNotification_InputMessage">
    <wsdl:part name="parameters" element="tns:TestNotification" />
  </wsdl:message>
  <wsdl:message name="IMessagingService_TestNotification_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestNotificationResponse" />
  </wsdl:message>
  <wsdl:message name="IMessagingService_GetUnreadMessagesCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUnreadMessagesCount" />
  </wsdl:message>
  <wsdl:message name="IMessagingService_GetUnreadMessagesCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUnreadMessagesCountResponse" />
  </wsdl:message>
  <wsdl:message name="IMessagingService_UpdateMessagingPreferences_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMessagingPreferences" />
  </wsdl:message>
  <wsdl:message name="IMessagingService_UpdateMessagingPreferences_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMessagingPreferencesResponse" />
  </wsdl:message>
  <wsdl:message name="IMessagingService_ReadMessagingPreferences_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadMessagingPreferences" />
  </wsdl:message>
  <wsdl:message name="IMessagingService_ReadMessagingPreferences_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadMessagingPreferencesResponse" />
  </wsdl:message>
  <wsdl:message name="IMessagingService_ReadPagedUserMessages_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadPagedUserMessages" />
  </wsdl:message>
  <wsdl:message name="IMessagingService_ReadPagedUserMessages_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadPagedUserMessagesResponse" />
  </wsdl:message>
  <wsdl:portType name="IMessagingService">
    <wsdl:operation name="AddUserSubscription">
      <wsdl:input wsaw:Action="http://tempuri.org/IMessagingService/AddUserSubscription" message="tns:IMessagingService_AddUserSubscription_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMessagingService/AddUserSubscriptionResponse" message="tns:IMessagingService_AddUserSubscription_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveUserSubscription">
      <wsdl:input wsaw:Action="http://tempuri.org/IMessagingService/RemoveUserSubscription" message="tns:IMessagingService_RemoveUserSubscription_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMessagingService/RemoveUserSubscriptionResponse" message="tns:IMessagingService_RemoveUserSubscription_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserMessages">
      <wsdl:input wsaw:Action="http://tempuri.org/IMessagingService/GetUserMessages" message="tns:IMessagingService_GetUserMessages_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMessagingService/GetUserMessagesResponse" message="tns:IMessagingService_GetUserMessages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateUserMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IMessagingService/CreateUserMessage" message="tns:IMessagingService_CreateUserMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMessagingService/CreateUserMessageResponse" message="tns:IMessagingService_CreateUserMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadUserMessages">
      <wsdl:input wsaw:Action="http://tempuri.org/IMessagingService/ReadUserMessages" message="tns:IMessagingService_ReadUserMessages_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMessagingService/ReadUserMessagesResponse" message="tns:IMessagingService_ReadUserMessages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MarkAsReadUserMessages">
      <wsdl:input wsaw:Action="http://tempuri.org/IMessagingService/MarkAsReadUserMessages" message="tns:IMessagingService_MarkAsReadUserMessages_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMessagingService/MarkAsReadUserMessagesResponse" message="tns:IMessagingService_MarkAsReadUserMessages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TestNotification">
      <wsdl:input wsaw:Action="http://tempuri.org/IMessagingService/TestNotification" message="tns:IMessagingService_TestNotification_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMessagingService/TestNotificationResponse" message="tns:IMessagingService_TestNotification_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUnreadMessagesCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IMessagingService/GetUnreadMessagesCount" message="tns:IMessagingService_GetUnreadMessagesCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMessagingService/GetUnreadMessagesCountResponse" message="tns:IMessagingService_GetUnreadMessagesCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateMessagingPreferences">
      <wsdl:input wsaw:Action="http://tempuri.org/IMessagingService/UpdateMessagingPreferences" message="tns:IMessagingService_UpdateMessagingPreferences_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMessagingService/UpdateMessagingPreferencesResponse" message="tns:IMessagingService_UpdateMessagingPreferences_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadMessagingPreferences">
      <wsdl:input wsaw:Action="http://tempuri.org/IMessagingService/ReadMessagingPreferences" message="tns:IMessagingService_ReadMessagingPreferences_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMessagingService/ReadMessagingPreferencesResponse" message="tns:IMessagingService_ReadMessagingPreferences_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadPagedUserMessages">
      <wsdl:input wsaw:Action="http://tempuri.org/IMessagingService/ReadPagedUserMessages" message="tns:IMessagingService_ReadPagedUserMessages_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMessagingService/ReadPagedUserMessagesResponse" message="tns:IMessagingService_ReadPagedUserMessages_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMessagingService" type="tns:IMessagingService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddUserSubscription">
      <soap:operation soapAction="http://tempuri.org/IMessagingService/AddUserSubscription" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveUserSubscription">
      <soap:operation soapAction="http://tempuri.org/IMessagingService/RemoveUserSubscription" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserMessages">
      <soap:operation soapAction="http://tempuri.org/IMessagingService/GetUserMessages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateUserMessage">
      <soap:operation soapAction="http://tempuri.org/IMessagingService/CreateUserMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadUserMessages">
      <soap:operation soapAction="http://tempuri.org/IMessagingService/ReadUserMessages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MarkAsReadUserMessages">
      <soap:operation soapAction="http://tempuri.org/IMessagingService/MarkAsReadUserMessages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestNotification">
      <soap:operation soapAction="http://tempuri.org/IMessagingService/TestNotification" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUnreadMessagesCount">
      <soap:operation soapAction="http://tempuri.org/IMessagingService/GetUnreadMessagesCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMessagingPreferences">
      <soap:operation soapAction="http://tempuri.org/IMessagingService/UpdateMessagingPreferences" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadMessagingPreferences">
      <soap:operation soapAction="http://tempuri.org/IMessagingService/ReadMessagingPreferences" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadPagedUserMessages">
      <soap:operation soapAction="http://tempuri.org/IMessagingService/ReadPagedUserMessages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IMessagingService" type="tns:IMessagingService">
    <wsp:PolicyReference URI="#NetTcpBinding_IMessagingService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="AddUserSubscription">
      <soap12:operation soapAction="http://tempuri.org/IMessagingService/AddUserSubscription" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveUserSubscription">
      <soap12:operation soapAction="http://tempuri.org/IMessagingService/RemoveUserSubscription" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserMessages">
      <soap12:operation soapAction="http://tempuri.org/IMessagingService/GetUserMessages" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateUserMessage">
      <soap12:operation soapAction="http://tempuri.org/IMessagingService/CreateUserMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadUserMessages">
      <soap12:operation soapAction="http://tempuri.org/IMessagingService/ReadUserMessages" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MarkAsReadUserMessages">
      <soap12:operation soapAction="http://tempuri.org/IMessagingService/MarkAsReadUserMessages" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestNotification">
      <soap12:operation soapAction="http://tempuri.org/IMessagingService/TestNotification" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUnreadMessagesCount">
      <soap12:operation soapAction="http://tempuri.org/IMessagingService/GetUnreadMessagesCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMessagingPreferences">
      <soap12:operation soapAction="http://tempuri.org/IMessagingService/UpdateMessagingPreferences" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadMessagingPreferences">
      <soap12:operation soapAction="http://tempuri.org/IMessagingService/ReadMessagingPreferences" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadPagedUserMessages">
      <soap12:operation soapAction="http://tempuri.org/IMessagingService/ReadPagedUserMessages" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MessagingService">
    <wsdl:port name="BasicHttpBinding_IMessagingService" binding="tns:BasicHttpBinding_IMessagingService">
      <soap:address location="http://localhost:1317/MessagingService.svc" />
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IMessagingService" binding="tns:NetTcpBinding_IMessagingService">
      <soap12:address location="net.tcp://win2012bek:1318/MessagingService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://win2012bek:1318/MessagingService.svc</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>WIN2012BEK\Administrator</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>