KeithLink/KeithLink.Svc.WebApi/Service References/com.benekeith.MessagingService/MessagingService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/KeithLink.Svc.Core.Models.Messaging" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/KeithLink.Svc.Core.Models.Messaging" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1317/MessagingService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KeithLink.Svc.Core.Enumerations.Messaging" />
  <xs:import schemaLocation="http://localhost:1317/MessagingService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="UserMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="body" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="customernumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:long" />
      <xs:element minOccurs="0" name="label" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mandatory" type="xs:boolean" />
      <xs:element minOccurs="0" name="messagecreatedutc" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="messagereadutc" nillable="true" type="xs:dateTime" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/KeithLink.Svc.Core.Enumerations.Messaging" minOccurs="0" name="notificationtype" type="q1:NotificationType" />
      <xs:element minOccurs="0" name="notificationtypedescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="subject" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="userid" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserMessage" nillable="true" type="tns:UserMessage" />
  <xs:complexType name="ArrayOfProfileMessagingPreferenceModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProfileMessagingPreferenceModel" nillable="true" type="tns:ProfileMessagingPreferenceModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProfileMessagingPreferenceModel" nillable="true" type="tns:ArrayOfProfileMessagingPreferenceModel" />
  <xs:complexType name="ProfileMessagingPreferenceModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomerNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Preferences" nillable="true" type="tns:ArrayOfProfileMessagingPreferenceDetailModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProfileMessagingPreferenceModel" nillable="true" type="tns:ProfileMessagingPreferenceModel" />
  <xs:complexType name="ArrayOfProfileMessagingPreferenceDetailModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProfileMessagingPreferenceDetailModel" nillable="true" type="tns:ProfileMessagingPreferenceDetailModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProfileMessagingPreferenceDetailModel" nillable="true" type="tns:ArrayOfProfileMessagingPreferenceDetailModel" />
  <xs:complexType name="ProfileMessagingPreferenceDetailModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/KeithLink.Svc.Core.Enumerations.Messaging" minOccurs="0" name="NotificationType" type="q2:NotificationType" />
      <xs:element minOccurs="0" name="SelectedChannels" nillable="true" type="tns:ArrayOfProfileChannelModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProfileMessagingPreferenceDetailModel" nillable="true" type="tns:ProfileMessagingPreferenceDetailModel" />
  <xs:complexType name="ArrayOfProfileChannelModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProfileChannelModel" nillable="true" type="tns:ProfileChannelModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProfileChannelModel" nillable="true" type="tns:ArrayOfProfileChannelModel" />
  <xs:complexType name="ProfileChannelModel">
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/KeithLink.Svc.Core.Enumerations.Messaging" minOccurs="0" name="Channel" type="q3:Channel" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProfileChannelModel" nillable="true" type="tns:ProfileChannelModel" />
  <xs:complexType name="ArrayOfUserMessage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserMessage" nillable="true" type="tns:UserMessage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserMessage" nillable="true" type="tns:ArrayOfUserMessage" />
  <xs:complexType name="ArrayOfUserMessagingPreference">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserMessagingPreference" nillable="true" type="tns:UserMessagingPreference" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserMessagingPreference" nillable="true" type="tns:ArrayOfUserMessagingPreference" />
  <xs:complexType name="UserMessagingPreference">
    <xs:sequence>
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/KeithLink.Svc.Core.Enumerations.Messaging" minOccurs="0" name="channel" type="q4:Channel" />
      <xs:element minOccurs="0" name="customernumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:long" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/KeithLink.Svc.Core.Enumerations.Messaging" minOccurs="0" name="notificationtype" type="q5:NotificationType" />
      <xs:element minOccurs="0" name="userid" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserMessagingPreference" nillable="true" type="tns:UserMessagingPreference" />
</xs:schema>