KeithLink/KeithLink.Svc.WebApi/Service References/com.benekeith.MessagingService/MessagingService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/KeithLink.Svc.Core.Models.SiteCatalog" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/KeithLink.Svc.Core.Models.SiteCatalog" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserSelectedContext">
    <xs:sequence>
      <xs:element minOccurs="0" name="branchid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="customerid" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserSelectedContext" nillable="true" type="tns:UserSelectedContext" />
</xs:schema>