KeithLink/KeithLink.Svc.WebApi/Service References/com.benekeith.MessagingService/MessagingService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/KeithLink.Svc.Core.Models.Configuration" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/KeithLink.Svc.Core.Models.Configuration" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="MessageTemplateModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Body" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="IsBodyHtml" type="xs:boolean" />
      <xs:element minOccurs="0" name="ModifiedOn" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Subject" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TemplateKey" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MessageTemplateModel" nillable="true" type="tns:MessageTemplateModel" />
</xs:schema>