KeithLink/KeithLink.Svc.WebApi/Service References/com.benekeith.OnlinePaymentService/OnlinePaymentService53.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/KeithLink.Svc.Core.Models.OnlinePayments.Payment" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/KeithLink.Svc.Core.Models.OnlinePayments.Payment" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PaymentTransactionModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="account" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="branchid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="confirmationid" type="xs:int" />
      <xs:element minOccurs="0" name="customername" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="customernumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="editable" type="xs:boolean" />
      <xs:element minOccurs="0" name="invoicenumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="submittedby" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="submittedon" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PaymentTransactionModel" nillable="true" type="tns:PaymentTransactionModel" />
  <xs:complexType name="ArrayOfPaymentTransactionModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PaymentTransactionModel" nillable="true" type="tns:PaymentTransactionModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPaymentTransactionModel" nillable="true" type="tns:ArrayOfPaymentTransactionModel" />
</xs:schema>