KeithLink/KeithLink.Svc.WebApi/Service References/com.benekeith.OnlinePaymentService/OnlinePaymentService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="OnlinePaymentService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1317/OnlinePaymentService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1317/OnlinePaymentService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1317/OnlinePaymentService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KeithLink.Svc.Core.Models.SiteCatalog" />
      <xsd:import schemaLocation="http://localhost:1317/OnlinePaymentService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/KeithLink.Svc.Core.Models.OnlinePayments.Customer" />
      <xsd:import schemaLocation="http://localhost:1317/OnlinePaymentService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/KeithLink.Svc.Core.Models.Profile" />
      <xsd:import schemaLocation="http://localhost:1317/OnlinePaymentService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/KeithLink.Svc.Core.Models.Messaging" />
      <xsd:import schemaLocation="http://localhost:1317/OnlinePaymentService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/KeithLink.Svc.Core.Enumerations.Messaging" />
      <xsd:import schemaLocation="http://localhost:1317/OnlinePaymentService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/KeithLink.Svc.Core.Models.Paging" />
      <xsd:import schemaLocation="http://localhost:1317/OnlinePaymentService.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/KeithLink.Svc.Core.Models.Invoices" />
      <xsd:import schemaLocation="http://localhost:1317/OnlinePaymentService.svc?xsd=xsd9" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:1317/OnlinePaymentService.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/KeithLink.Svc.Core.Enumerations" />
      <xsd:import schemaLocation="http://localhost:1317/OnlinePaymentService.svc?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/KeithLink.Svc.Core.Models.OnlinePayments.Payment" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOnlinePaymentService_DeleteInvoice_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteInvoice" />
  </wsdl:message>
  <wsdl:message name="IOnlinePaymentService_DeleteInvoice_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteInvoiceResponse" />
  </wsdl:message>
  <wsdl:message name="IOnlinePaymentService_GetAllBankAccounts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllBankAccounts" />
  </wsdl:message>
  <wsdl:message name="IOnlinePaymentService_GetAllBankAccounts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllBankAccountsResponse" />
  </wsdl:message>
  <wsdl:message name="IOnlinePaymentService_GetBankAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBankAccount" />
  </wsdl:message>
  <wsdl:message name="IOnlinePaymentService_GetBankAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBankAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IOnlinePaymentService_GetInvoiceHeaders_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInvoiceHeaders" />
  </wsdl:message>
  <wsdl:message name="IOnlinePaymentService_GetInvoiceHeaders_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInvoiceHeadersResponse" />
  </wsdl:message>
  <wsdl:message name="IOnlinePaymentService_MakeInvoicePayment_InputMessage">
    <wsdl:part name="parameters" element="tns:MakeInvoicePayment" />
  </wsdl:message>
  <wsdl:message name="IOnlinePaymentService_MakeInvoicePayment_OutputMessage">
    <wsdl:part name="parameters" element="tns:MakeInvoicePaymentResponse" />
  </wsdl:message>
  <wsdl:message name="IOnlinePaymentService_GetInvoiceDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInvoiceDetails" />
  </wsdl:message>
  <wsdl:message name="IOnlinePaymentService_GetInvoiceDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInvoiceDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IOnlinePaymentService_PendingTransactionsAllCustomers_InputMessage">
    <wsdl:part name="parameters" element="tns:PendingTransactionsAllCustomers" />
  </wsdl:message>
  <wsdl:message name="IOnlinePaymentService_PendingTransactionsAllCustomers_OutputMessage">
    <wsdl:part name="parameters" element="tns:PendingTransactionsAllCustomersResponse" />
  </wsdl:message>
  <wsdl:portType name="IOnlinePaymentService">
    <wsdl:operation name="DeleteInvoice">
      <wsdl:input wsaw:Action="http://tempuri.org/IOnlinePaymentService/DeleteInvoice" message="tns:IOnlinePaymentService_DeleteInvoice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOnlinePaymentService/DeleteInvoiceResponse" message="tns:IOnlinePaymentService_DeleteInvoice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllBankAccounts">
      <wsdl:input wsaw:Action="http://tempuri.org/IOnlinePaymentService/GetAllBankAccounts" message="tns:IOnlinePaymentService_GetAllBankAccounts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOnlinePaymentService/GetAllBankAccountsResponse" message="tns:IOnlinePaymentService_GetAllBankAccounts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBankAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IOnlinePaymentService/GetBankAccount" message="tns:IOnlinePaymentService_GetBankAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOnlinePaymentService/GetBankAccountResponse" message="tns:IOnlinePaymentService_GetBankAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetInvoiceHeaders">
      <wsdl:input wsaw:Action="http://tempuri.org/IOnlinePaymentService/GetInvoiceHeaders" message="tns:IOnlinePaymentService_GetInvoiceHeaders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOnlinePaymentService/GetInvoiceHeadersResponse" message="tns:IOnlinePaymentService_GetInvoiceHeaders_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MakeInvoicePayment">
      <wsdl:input wsaw:Action="http://tempuri.org/IOnlinePaymentService/MakeInvoicePayment" message="tns:IOnlinePaymentService_MakeInvoicePayment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOnlinePaymentService/MakeInvoicePaymentResponse" message="tns:IOnlinePaymentService_MakeInvoicePayment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetInvoiceDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IOnlinePaymentService/GetInvoiceDetails" message="tns:IOnlinePaymentService_GetInvoiceDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOnlinePaymentService/GetInvoiceDetailsResponse" message="tns:IOnlinePaymentService_GetInvoiceDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PendingTransactionsAllCustomers">
      <wsdl:input wsaw:Action="http://tempuri.org/IOnlinePaymentService/PendingTransactionsAllCustomers" message="tns:IOnlinePaymentService_PendingTransactionsAllCustomers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOnlinePaymentService/PendingTransactionsAllCustomersResponse" message="tns:IOnlinePaymentService_PendingTransactionsAllCustomers_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IOnlinePaymentService" type="tns:IOnlinePaymentService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DeleteInvoice">
      <soap:operation soapAction="http://tempuri.org/IOnlinePaymentService/DeleteInvoice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllBankAccounts">
      <soap:operation soapAction="http://tempuri.org/IOnlinePaymentService/GetAllBankAccounts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBankAccount">
      <soap:operation soapAction="http://tempuri.org/IOnlinePaymentService/GetBankAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInvoiceHeaders">
      <soap:operation soapAction="http://tempuri.org/IOnlinePaymentService/GetInvoiceHeaders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MakeInvoicePayment">
      <soap:operation soapAction="http://tempuri.org/IOnlinePaymentService/MakeInvoicePayment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInvoiceDetails">
      <soap:operation soapAction="http://tempuri.org/IOnlinePaymentService/GetInvoiceDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PendingTransactionsAllCustomers">
      <soap:operation soapAction="http://tempuri.org/IOnlinePaymentService/PendingTransactionsAllCustomers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OnlinePaymentService">
    <wsdl:port name="BasicHttpBinding_IOnlinePaymentService" binding="tns:BasicHttpBinding_IOnlinePaymentService">
      <soap:address location="http://localhost:1317/OnlinePaymentService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>