KeithLink/KeithLink.Svc.WebApi/Service References/com.benekeith.OnlinePaymentService/OnlinePaymentService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/KeithLink.Svc.Core.Models.OnlinePayments.Payment" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/KeithLink.Svc.Core.Models.OnlinePayments.Payment" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPaymentTransactionModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PaymentTransactionModel" nillable="true" type="tns:PaymentTransactionModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPaymentTransactionModel" nillable="true" type="tns:ArrayOfPaymentTransactionModel" />
  <xs:complexType name="PaymentTransactionModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InvoiceNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaymentAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="PaymentDate" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PaymentTransactionModel" nillable="true" type="tns:PaymentTransactionModel" />
</xs:schema>