KeithLink/KeithLink.Svc.WebApi/Service References/com.benekeith.DsrService/DsrService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/KeithLink.Svc.Core.Models.Profile" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/KeithLink.Svc.Core.Models.Profile" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="dsr">
    <xs:sequence>
      <xs:element minOccurs="0" name="branch" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dsrnumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="emailaddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="imageurl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="phonenumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="dsr" nillable="true" type="tns:dsr" />
  <xs:complexType name="ArrayOfdsr">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="dsr" nillable="true" type="tns:dsr" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfdsr" nillable="true" type="tns:ArrayOfdsr" />
</xs:schema>