KeithLink/KeithLink.Svc.WebApi/Service References/com.benekeith.ConfigurationService/ConfigurationService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/KeithLink.Svc.Core.Models.ModelExport" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/KeithLink.Svc.Core.Models.ModelExport" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1317/ConfigurationService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ExportOptionsModel">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="availabletypes" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="fields" nillable="true" type="tns:ArrayOfExportModelConfiguration" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExportOptionsModel" nillable="true" type="tns:ExportOptionsModel" />
  <xs:complexType name="ArrayOfExportModelConfiguration">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExportModelConfiguration" nillable="true" type="tns:ExportModelConfiguration" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfExportModelConfiguration" nillable="true" type="tns:ArrayOfExportModelConfiguration" />
  <xs:complexType name="ExportModelConfiguration">
    <xs:sequence>
      <xs:element minOccurs="0" name="field" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="label" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="order" type="xs:int" />
      <xs:element minOccurs="0" name="selected" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExportModelConfiguration" nillable="true" type="tns:ExportModelConfiguration" />
</xs:schema>