KeithLink/KeithLink.Svc.Impl/Service References/com.benekeith.ListService/ListServcie2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/KeithLink.Svc.Core.Models.SiteCatalog" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/KeithLink.Svc.Core.Models.SiteCatalog" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserSelectedContext">
    <xs:sequence>
      <xs:element minOccurs="0" name="branchid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="customerid" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserSelectedContext" nillable="true" type="tns:UserSelectedContext" />
  <xs:complexType name="BaseProductInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="brand" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="brand_control_label" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="brand_extended_description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="caseprice" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="catchweight" type="xs:boolean" />
      <xs:element minOccurs="0" name="childnutrition" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="favorite" type="xs:boolean" />
      <xs:element minOccurs="0" name="itemnumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nonstock" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="notes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="packageprice" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="replaceditem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="replacementitem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sellsheet" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseProductInfo" nillable="true" type="tns:BaseProductInfo" />
  <xs:complexType name="ItemNote">
    <xs:sequence>
      <xs:element minOccurs="0" name="itemnumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="note" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ItemNote" nillable="true" type="tns:ItemNote" />
  <xs:complexType name="ArrayOfProductImage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductImage" nillable="true" type="tns:ProductImage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductImage" nillable="true" type="tns:ArrayOfProductImage" />
  <xs:complexType name="ProductImage">
    <xs:sequence>
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Height" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Width" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductImage" nillable="true" type="tns:ProductImage" />
</xs:schema>