KeithLink/KeithLink.Svc.Impl/Service References/com.benekeith.ListService/ListServcie.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/KeithLink.Svc.Core.Models.Lists" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/KeithLink.Svc.Core.Models.Lists" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1317/ListServcie.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/KeithLink.Svc.Core.Models.SiteCatalog" />
  <xs:complexType name="ArrayOfUserList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserList" nillable="true" type="tns:UserList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserList" nillable="true" type="tns:ArrayOfUserList" />
  <xs:complexType name="UserList">
    <xs:sequence>
      <xs:element minOccurs="0" name="is_contract_list" type="xs:boolean" />
      <xs:element minOccurs="0" name="isfavorite" type="xs:boolean" />
      <xs:element minOccurs="0" name="isworksheet" type="xs:boolean" />
      <xs:element minOccurs="0" name="items" nillable="true" type="tns:ArrayOfListItem" />
      <xs:element minOccurs="0" name="listid" type="xs:long" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="read_only" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserList" nillable="true" type="tns:UserList" />
  <xs:complexType name="ArrayOfListItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ListItem" nillable="true" type="tns:ListItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfListItem" nillable="true" type="tns:ArrayOfListItem" />
  <xs:complexType name="ListItem">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/KeithLink.Svc.Core.Models.SiteCatalog" base="q1:BaseProductInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="category" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="label" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="listitemid" type="xs:long" />
          <xs:element minOccurs="0" name="packsize" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="parlevel" type="xs:decimal" />
          <xs:element minOccurs="0" name="position" type="xs:int" />
          <xs:element minOccurs="0" name="quantityincart" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="storagetemp" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListItem" nillable="true" type="tns:ListItem" />
  <xs:complexType name="ArrayOfrecentitem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="recentitem" nillable="true" type="tns:recentitem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfrecentitem" nillable="true" type="tns:ArrayOfrecentitem" />
  <xs:complexType name="recentitem">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/KeithLink.Svc.Core.Models.SiteCatalog" minOccurs="0" name="images" nillable="true" type="q2:ArrayOfProductImage" />
      <xs:element minOccurs="0" name="itemnumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="recentitem" nillable="true" type="tns:recentitem" />
</xs:schema>