KeithLink/KeithLink.Svc.WebApi/Service References/com.benekeith.ProfileService/ProfileService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/KeithLink.Svc.Core.Models.Profile" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/KeithLink.Svc.Core.Models.Profile" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1317/ProfileService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="dsr">
    <xs:sequence>
      <xs:element minOccurs="0" name="branch" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dsrnumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="emailaddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="imageurl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="phonenumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="dsr" nillable="true" type="tns:dsr" />
  <xs:complexType name="DsrAliasModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="branchid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dsrnumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:long" />
      <xs:element minOccurs="0" name="userid" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DsrAliasModel" nillable="true" type="tns:DsrAliasModel" />
  <xs:complexType name="MarketingPreferenceModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="branchid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:long" />
      <xs:element minOccurs="0" name="iscustomer" type="xs:boolean" />
      <xs:element minOccurs="0" name="learnmore" type="xs:boolean" />
      <xs:element minOccurs="0" name="registeredon" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MarketingPreferenceModel" nillable="true" type="tns:MarketingPreferenceModel" />
  <xs:complexType name="ArrayOfDsrAliasModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DsrAliasModel" nillable="true" type="tns:DsrAliasModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDsrAliasModel" nillable="true" type="tns:ArrayOfDsrAliasModel" />
  <xs:complexType name="ArrayOfMarketingPreferenceModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MarketingPreferenceModel" nillable="true" type="tns:MarketingPreferenceModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMarketingPreferenceModel" nillable="true" type="tns:ArrayOfMarketingPreferenceModel" />
  <xs:complexType name="ResetPasswordModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResetPasswordModel" nillable="true" type="tns:ResetPasswordModel" />
  <xs:complexType name="ArrayOfusersettings">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="usersettings" nillable="true" type="tns:usersettings" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfusersettings" nillable="true" type="tns:ArrayOfusersettings" />
  <xs:complexType name="usersettings">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:user_settings">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="usersettings" nillable="true" type="tns:usersettings" />
  <xs:complexType name="user_settings">
    <xs:sequence>
      <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="userId" type="ser:guid" />
      <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="user_settings" nillable="true" type="tns:user_settings" />
</xs:schema>