KeithLink/KeithLink.Svc.WebApi/Service References/com.benekeith.ProfileService/ProfileService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/KeithLink.Svc.Core.Models.Profile.EF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/KeithLink.Svc.Core.Models.Profile.EF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1317/ProfileService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:1317/ProfileService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/KeithLink.Svc.Core.Models.EF" />
  <xs:complexType name="ArrayOfDsrAlias">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DsrAlias" nillable="true" type="tns:DsrAlias" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDsrAlias" nillable="true" type="tns:ArrayOfDsrAlias" />
  <xs:complexType name="DsrAlias">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/KeithLink.Svc.Core.Models.EF" base="q1:BaseEFModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="BranchId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DsrNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UserId" type="ser:guid" />
          <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DsrAlias" nillable="true" type="tns:DsrAlias" />
</xs:schema>