KeithLink/KeithLink.Svc.WebApi/Service References/com.benekeith.ProfileService/ProfileService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProfileService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1317/ProfileService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1317/ProfileService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1317/ProfileService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KeithLink.Svc.Core.Models.Profile" />
      <xsd:import schemaLocation="http://localhost:1317/ProfileService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/KeithLink.Svc.Core.Models.Profile.EF" />
      <xsd:import schemaLocation="http://localhost:1317/ProfileService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/KeithLink.Svc.Core.Models.EF" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProfileService_CreateDsrAlias_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateDsrAlias" />
  </wsdl:message>
  <wsdl:message name="IProfileService_CreateDsrAlias_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateDsrAliasResponse" />
  </wsdl:message>
  <wsdl:message name="IProfileService_DeleteDsrAlias_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDsrAlias" />
  </wsdl:message>
  <wsdl:message name="IProfileService_DeleteDsrAlias_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDsrAliasResponse" />
  </wsdl:message>
  <wsdl:message name="IProfileService_GeneratePasswordResetRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:GeneratePasswordResetRequest" />
  </wsdl:message>
  <wsdl:message name="IProfileService_GeneratePasswordResetRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:GeneratePasswordResetRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IProfileService_IsTokenValid_InputMessage">
    <wsdl:part name="parameters" element="tns:IsTokenValid" />
  </wsdl:message>
  <wsdl:message name="IProfileService_IsTokenValid_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsTokenValidResponse" />
  </wsdl:message>
  <wsdl:message name="IProfileService_GetAllDsrAliasesByUserId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllDsrAliasesByUserId" />
  </wsdl:message>
  <wsdl:message name="IProfileService_GetAllDsrAliasesByUserId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllDsrAliasesByUserIdResponse" />
  </wsdl:message>
  <wsdl:message name="IProfileService_ResetPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ResetPassword" />
  </wsdl:message>
  <wsdl:message name="IProfileService_ResetPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ResetPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IProfileService_GeneratePasswordForNewUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GeneratePasswordForNewUser" />
  </wsdl:message>
  <wsdl:message name="IProfileService_GeneratePasswordForNewUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GeneratePasswordForNewUserResponse" />
  </wsdl:message>
  <wsdl:portType name="IProfileService">
    <wsdl:operation name="CreateDsrAlias">
      <wsdl:input wsaw:Action="http://tempuri.org/IProfileService/CreateDsrAlias" message="tns:IProfileService_CreateDsrAlias_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProfileService/CreateDsrAliasResponse" message="tns:IProfileService_CreateDsrAlias_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteDsrAlias">
      <wsdl:input wsaw:Action="http://tempuri.org/IProfileService/DeleteDsrAlias" message="tns:IProfileService_DeleteDsrAlias_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProfileService/DeleteDsrAliasResponse" message="tns:IProfileService_DeleteDsrAlias_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GeneratePasswordResetRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IProfileService/GeneratePasswordResetRequest" message="tns:IProfileService_GeneratePasswordResetRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProfileService/GeneratePasswordResetRequestResponse" message="tns:IProfileService_GeneratePasswordResetRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsTokenValid">
      <wsdl:input wsaw:Action="http://tempuri.org/IProfileService/IsTokenValid" message="tns:IProfileService_IsTokenValid_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProfileService/IsTokenValidResponse" message="tns:IProfileService_IsTokenValid_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllDsrAliasesByUserId">
      <wsdl:input wsaw:Action="http://tempuri.org/IProfileService/GetAllDsrAliasesByUserId" message="tns:IProfileService_GetAllDsrAliasesByUserId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProfileService/GetAllDsrAliasesByUserIdResponse" message="tns:IProfileService_GetAllDsrAliasesByUserId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ResetPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IProfileService/ResetPassword" message="tns:IProfileService_ResetPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProfileService/ResetPasswordResponse" message="tns:IProfileService_ResetPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GeneratePasswordForNewUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IProfileService/GeneratePasswordForNewUser" message="tns:IProfileService_GeneratePasswordForNewUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProfileService/GeneratePasswordForNewUserResponse" message="tns:IProfileService_GeneratePasswordForNewUser_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IProfileService" type="tns:IProfileService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateDsrAlias">
      <soap:operation soapAction="http://tempuri.org/IProfileService/CreateDsrAlias" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteDsrAlias">
      <soap:operation soapAction="http://tempuri.org/IProfileService/DeleteDsrAlias" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GeneratePasswordResetRequest">
      <soap:operation soapAction="http://tempuri.org/IProfileService/GeneratePasswordResetRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsTokenValid">
      <soap:operation soapAction="http://tempuri.org/IProfileService/IsTokenValid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllDsrAliasesByUserId">
      <soap:operation soapAction="http://tempuri.org/IProfileService/GetAllDsrAliasesByUserId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetPassword">
      <soap:operation soapAction="http://tempuri.org/IProfileService/ResetPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GeneratePasswordForNewUser">
      <soap:operation soapAction="http://tempuri.org/IProfileService/GeneratePasswordForNewUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProfileService">
    <wsdl:port name="BasicHttpBinding_IProfileService" binding="tns:BasicHttpBinding_IProfileService">
      <soap:address location="http://localhost:1317/ProfileService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>