KeithLink/KeithLink.Svc.WebApi/Service References/com.benekeith.CustomerBankService/CustomerBankService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CustomerBankService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1317/CustomerBankService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1317/CustomerBankService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1317/CustomerBankService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KeithLink.Svc.Core.Models.OnlinePayments.Customer" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICustomerBankService_GetAllCustomerBanks_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCustomerBanks" />
  </wsdl:message>
  <wsdl:message name="ICustomerBankService_GetAllCustomerBanks_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCustomerBanksResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerBankService_GetBankAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBankAccount" />
  </wsdl:message>
  <wsdl:message name="ICustomerBankService_GetBankAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBankAccountResponse" />
  </wsdl:message>
  <wsdl:portType name="ICustomerBankService">
    <wsdl:operation name="GetAllCustomerBanks">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerBankService/GetAllCustomerBanks" message="tns:ICustomerBankService_GetAllCustomerBanks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerBankService/GetAllCustomerBanksResponse" message="tns:ICustomerBankService_GetAllCustomerBanks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBankAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerBankService/GetBankAccount" message="tns:ICustomerBankService_GetBankAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerBankService/GetBankAccountResponse" message="tns:ICustomerBankService_GetBankAccount_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICustomerBankService" type="tns:ICustomerBankService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllCustomerBanks">
      <soap:operation soapAction="http://tempuri.org/ICustomerBankService/GetAllCustomerBanks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBankAccount">
      <soap:operation soapAction="http://tempuri.org/ICustomerBankService/GetBankAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CustomerBankService">
    <wsdl:port name="BasicHttpBinding_ICustomerBankService" binding="tns:BasicHttpBinding_ICustomerBankService">
      <soap:address location="http://localhost:1317/CustomerBankService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>