KeithLink/KeithLink.Svc.Impl/Service References/com.benekeith.FoundationService/FoundationService64.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/KeithLink.Svc.FoundationSvc.Interface" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/KeithLink.Svc.FoundationSvc.Interface" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPurchaseOrderLineItemUpdate">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PurchaseOrderLineItemUpdate" nillable="true" type="tns:PurchaseOrderLineItemUpdate" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPurchaseOrderLineItemUpdate" nillable="true" type="tns:ArrayOfPurchaseOrderLineItemUpdate" />
  <xs:complexType name="PurchaseOrderLineItemUpdate">
    <xs:sequence>
      <xs:element minOccurs="0" name="Catalog" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CatchWeight" type="xs:boolean" />
      <xs:element minOccurs="0" name="Each" type="xs:boolean" />
      <xs:element minOccurs="0" name="ItemNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PurchaseOrderLineItemUpdate" nillable="true" type="tns:PurchaseOrderLineItemUpdate" />
</xs:schema>