KeithLink/KeithLink.Svc.WebApi/Service References/com.benekeith.ContentManagementService/ContentManagementService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ContentManagementService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1317/ContentManagementService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1317/ContentManagementService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1317/ContentManagementService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KeithLink.Svc.Core.Models.ContentManagement" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IContentManagementService_CreateContentItem_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateContentItem" />
  </wsdl:message>
  <wsdl:message name="IContentManagementService_CreateContentItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateContentItemResponse" />
  </wsdl:message>
  <wsdl:message name="IContentManagementService_ReadActiveContentItemsByBranch_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadActiveContentItemsByBranch" />
  </wsdl:message>
  <wsdl:message name="IContentManagementService_ReadActiveContentItemsByBranch_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadActiveContentItemsByBranchResponse" />
  </wsdl:message>
  <wsdl:message name="IContentManagementService_DeleteContentItemById_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteContentItemById" />
  </wsdl:message>
  <wsdl:message name="IContentManagementService_DeleteContentItemById_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteContentItemByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IContentManagementService_ReadContentItemById_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadContentItemById" />
  </wsdl:message>
  <wsdl:message name="IContentManagementService_ReadContentItemById_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadContentItemByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IContentManagementService">
    <wsdl:operation name="CreateContentItem">
      <wsdl:input wsaw:Action="http://tempuri.org/IContentManagementService/CreateContentItem" message="tns:IContentManagementService_CreateContentItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContentManagementService/CreateContentItemResponse" message="tns:IContentManagementService_CreateContentItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadActiveContentItemsByBranch">
      <wsdl:input wsaw:Action="http://tempuri.org/IContentManagementService/ReadActiveContentItemsByBranch" message="tns:IContentManagementService_ReadActiveContentItemsByBranch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContentManagementService/ReadActiveContentItemsByBranchResponse" message="tns:IContentManagementService_ReadActiveContentItemsByBranch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteContentItemById">
      <wsdl:input wsaw:Action="http://tempuri.org/IContentManagementService/DeleteContentItemById" message="tns:IContentManagementService_DeleteContentItemById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContentManagementService/DeleteContentItemByIdResponse" message="tns:IContentManagementService_DeleteContentItemById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadContentItemById">
      <wsdl:input wsaw:Action="http://tempuri.org/IContentManagementService/ReadContentItemById" message="tns:IContentManagementService_ReadContentItemById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContentManagementService/ReadContentItemByIdResponse" message="tns:IContentManagementService_ReadContentItemById_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IContentManagementService" type="tns:IContentManagementService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateContentItem">
      <soap:operation soapAction="http://tempuri.org/IContentManagementService/CreateContentItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadActiveContentItemsByBranch">
      <soap:operation soapAction="http://tempuri.org/IContentManagementService/ReadActiveContentItemsByBranch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteContentItemById">
      <soap:operation soapAction="http://tempuri.org/IContentManagementService/DeleteContentItemById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadContentItemById">
      <soap:operation soapAction="http://tempuri.org/IContentManagementService/ReadContentItemById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ContentManagementService">
    <wsdl:port name="BasicHttpBinding_IContentManagementService" binding="tns:BasicHttpBinding_IContentManagementService">
      <soap:address location="http://localhost:1317/ContentManagementService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>