KeithLink/KeithLink.Svc.WebApi/Service References/com.benekeith.ContentManagementService/ContentManagementService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1317/ContentManagementService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KeithLink.Svc.Core.Models.ContentManagement" />
  <xs:element name="CreateContentItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/KeithLink.Svc.Core.Models.ContentManagement" minOccurs="0" name="contentItem" nillable="true" type="q1:ContentItemPostModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateContentItemResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadActiveContentItemsByBranch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="branchId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadActiveContentItemsByBranchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/KeithLink.Svc.Core.Models.ContentManagement" minOccurs="0" name="ReadActiveContentItemsByBranchResult" nillable="true" type="q2:ArrayOfContentItemViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteContentItemById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="itemId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteContentItemByIdResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadContentItemById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="itemId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadContentItemByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/KeithLink.Svc.Core.Models.ContentManagement" minOccurs="0" name="ReadContentItemByIdResult" nillable="true" type="q3:ContentItemViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>