KeithLink/KeithLink.Svc.WebApi/Service References/com.benekeith.ContentManagementService/ContentManagementService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1317/ContentManagementService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KeithLink.Svc.Core.Models.ContentManagement" />
  <xs:element name="CreateContentItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/KeithLink.Svc.Core.Models.ContentManagement" minOccurs="0" name="contentItem" nillable="true" type="q1:ContentItemPostModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateContentItemResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>