KeithLink/KeithLink.Svc.Impl/Service References/com.benekeith.MessagingService/MessagingService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/KeithLink.Svc.Core.Models.Messaging" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/KeithLink.Svc.Core.Models.Messaging" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1317/MessagingService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KeithLink.Svc.Core.Enumerations.Messaging" />
  <xs:import schemaLocation="http://localhost:1317/MessagingService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="UserMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="body" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="customernumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:long" />
      <xs:element minOccurs="0" name="mandatory" type="xs:boolean" />
      <xs:element minOccurs="0" name="messagecreatedutc" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="messagereadutc" nillable="true" type="xs:dateTime" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/KeithLink.Svc.Core.Enumerations.Messaging" minOccurs="0" name="notificationtype" type="q1:NotificationType" />
      <xs:element minOccurs="0" name="ordernumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="subject" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="userid" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserMessage" nillable="true" type="tns:UserMessage" />
  <xs:complexType name="ArrayOfUserMessage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserMessage" nillable="true" type="tns:UserMessage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserMessage" nillable="true" type="tns:ArrayOfUserMessage" />
</xs:schema>