KeithLink/KeithLink.Svc.WebApi/Service References/com.benekeith.ListService/ListServcie3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/KeithLink.Svc.Core.Models.Messaging" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/KeithLink.Svc.Core.Models.Messaging" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1317/ListServcie.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/KeithLink.Svc.Core.Enumerations.Messaging" />
  <xs:complexType name="ArrayOfProfileMessagingPreferenceModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProfileMessagingPreferenceModel" nillable="true" type="tns:ProfileMessagingPreferenceModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProfileMessagingPreferenceModel" nillable="true" type="tns:ArrayOfProfileMessagingPreferenceModel" />
  <xs:complexType name="ProfileMessagingPreferenceModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomerNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Preferences" nillable="true" type="tns:ArrayOfProfileMessagingPreferenceDetailModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProfileMessagingPreferenceModel" nillable="true" type="tns:ProfileMessagingPreferenceModel" />
  <xs:complexType name="ArrayOfProfileMessagingPreferenceDetailModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProfileMessagingPreferenceDetailModel" nillable="true" type="tns:ProfileMessagingPreferenceDetailModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProfileMessagingPreferenceDetailModel" nillable="true" type="tns:ArrayOfProfileMessagingPreferenceDetailModel" />
  <xs:complexType name="ProfileMessagingPreferenceDetailModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/KeithLink.Svc.Core.Enumerations.Messaging" minOccurs="0" name="NotificationType" type="q1:NotificationType" />
      <xs:element minOccurs="0" name="SelectedChannels" nillable="true" type="tns:ArrayOfProfileChannelModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProfileMessagingPreferenceDetailModel" nillable="true" type="tns:ProfileMessagingPreferenceDetailModel" />
  <xs:complexType name="ArrayOfProfileChannelModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProfileChannelModel" nillable="true" type="tns:ProfileChannelModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProfileChannelModel" nillable="true" type="tns:ArrayOfProfileChannelModel" />
  <xs:complexType name="ProfileChannelModel">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/KeithLink.Svc.Core.Enumerations.Messaging" minOccurs="0" name="Channel" type="q2:Channel" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProfileChannelModel" nillable="true" type="tns:ProfileChannelModel" />
</xs:schema>