KeithLink/KeithLink.Svc.WebApi/Service References/com.benekeith.ListService/ListServcie2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/KeithLink.Svc.Core.Models.Profile" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/KeithLink.Svc.Core.Models.Profile" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1317/ListServcie.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/KeithLink.Svc.Core.Models.Messaging" />
  <xs:import schemaLocation="http://localhost:1317/ListServcie.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="userprofile">
    <xs:sequence>
      <xs:element minOccurs="0" name="branchid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="customernumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="emailaddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="firstname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isdsr" type="xs:boolean" />
      <xs:element minOccurs="0" name="lastname" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/KeithLink.Svc.Core.Models.Messaging" minOccurs="0" name="messagingpreferences" nillable="true" type="q1:ArrayOfProfileMessagingPreferenceModel" />
      <xs:element minOccurs="0" name="phonenumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rolename" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="user_customers" nillable="true" type="tns:ArrayOfcustomer" />
      <xs:element minOccurs="0" name="userid" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="userprofile" nillable="true" type="tns:userprofile" />
  <xs:complexType name="ArrayOfcustomer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="customer" nillable="true" type="tns:customer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfcustomer" nillable="true" type="tns:ArrayOfcustomer" />
  <xs:complexType name="customer">
    <xs:sequence>
      <xs:element minOccurs="0" name="accountId" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="address" nillable="true" type="tns:address" />
      <xs:element minOccurs="0" name="balanceage1" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="balanceage1label" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="balanceage2" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="balanceage2label" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="balanceage3" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="balanceage3label" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="balanceage4" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="balanceage4label" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="contractId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="currentbalance" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="customerBranch" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="customerId" type="ser:guid" />
      <xs:element minOccurs="0" name="customerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="customerNationalId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="customerNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dsrNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isPoRequired" type="xs:boolean" />
      <xs:element minOccurs="0" name="isPowerMenu" type="xs:boolean" />
      <xs:element minOccurs="0" name="lastorderupdate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="nationalOrRegionalAccountNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pointofcontact" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="termcode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="termdescription" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="customer" nillable="true" type="tns:customer" />
  <xs:complexType name="address">
    <xs:sequence>
      <xs:element minOccurs="0" name="city" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="postalcode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="regioncode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="street" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="address" nillable="true" type="tns:address" />
</xs:schema>