KeithLink/KeithLink.Svc.WebApi/Service References/com.benekeith.ListService/ListServcie7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/KeithLink.Svc.Core.Models.Reports" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/KeithLink.Svc.Core.Models.Reports" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfItemBarcodeModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ItemBarcodeModel" nillable="true" type="tns:ItemBarcodeModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfItemBarcodeModel" nillable="true" type="tns:ArrayOfItemBarcodeModel" />
  <xs:complexType name="ItemBarcodeModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="ItemNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PackSize" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ItemBarcodeModel" nillable="true" type="tns:ItemBarcodeModel" />
</xs:schema>