KeithLink/KeithLink.Svc.WebApi/Service References/com.benekeith.ListService/ListServcie2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/KeithLink.Svc.Core.Models.Profile" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/KeithLink.Svc.Core.Models.Profile" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1317/ListServcie.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="userprofile">
    <xs:sequence>
      <xs:element minOccurs="0" name="branchid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="customernumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="defaultcustomer" nillable="true" type="tns:customer" />
      <xs:element minOccurs="0" name="emailaddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="firstname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="imageurl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="internal" type="xs:boolean" />
      <xs:element minOccurs="0" name="isdemo" nillable="true" type="xs:boolean">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="iskbitcustomer" type="xs:boolean" />
      <xs:element minOccurs="0" name="ispowermenucustomer" type="xs:boolean" />
      <xs:element minOccurs="0" name="lastname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="passwordexpired" type="xs:boolean" />
      <xs:element minOccurs="0" name="phonenumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="powermenupermissionslink" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rolename" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="userid" type="ser:guid" />
      <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="usernametoken" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="userprofile" nillable="true" type="tns:userprofile" />
  <xs:complexType name="customer">
    <xs:sequence>
      <xs:element minOccurs="0" name="accountId" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="address" nillable="true" type="tns:address" />
      <xs:element minOccurs="0" name="contractId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="customerBranch" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="customerId" type="ser:guid" />
      <xs:element minOccurs="0" name="customerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="customerNationalId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="customerNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="displayname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dsmNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dsr" nillable="true" type="tns:dsr" />
      <xs:element minOccurs="0" name="dsrNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isPoRequired" type="xs:boolean" />
      <xs:element minOccurs="0" name="isPowerMenu" type="xs:boolean" />
      <xs:element minOccurs="0" name="kpay" type="xs:boolean" />
      <xs:element minOccurs="0" name="nationalOrRegionalAccountNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pointofcontact" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="termcode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="termdescription" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="customer" nillable="true" type="tns:customer" />
  <xs:complexType name="address">
    <xs:sequence>
      <xs:element minOccurs="0" name="city" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="postalcode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="regioncode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="street" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="address" nillable="true" type="tns:address" />
  <xs:complexType name="dsr">
    <xs:sequence>
      <xs:element minOccurs="0" name="branch" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dsrnumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="emailaddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="imageurl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="phonenumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="dsr" nillable="true" type="tns:dsr" />
  <xs:complexType name="ArrayOfcustomer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="customer" nillable="true" type="tns:customer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfcustomer" nillable="true" type="tns:ArrayOfcustomer" />
</xs:schema>