KeithLink/KeithLink.Svc.WebApi/Service References/com.benekeith.ListService/ListServcie71.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/KeithLink.Svc.Core.Models.Customers" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/KeithLink.Svc.Core.Models.Customers" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ItemHistoryModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="caseaverage" type="xs:int" />
      <xs:element minOccurs="0" name="packageaverage" type="xs:int" />
      <xs:element minOccurs="0" name="totalweeks" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ItemHistoryModel" nillable="true" type="tns:ItemHistoryModel" />
</xs:schema>