KeithLink/KeithLink.Svc.WebApi/Service References/com.benekeith.ReportService/ReportService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/KeithLink.Svc.Core.Models.Reports" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/KeithLink.Svc.Core.Models.Reports" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1317/ReportService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/KeithLink.Svc.Core.Models.SiteCatalog" />
  <xs:complexType name="ItemUsageReportQueryModel">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/KeithLink.Svc.Core.Models.SiteCatalog" minOccurs="0" name="UserSelectedContext" nillable="true" type="q1:UserSelectedContext" />
      <xs:element minOccurs="0" name="fromDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="toDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ItemUsageReportQueryModel" nillable="true" type="tns:ItemUsageReportQueryModel" />
  <xs:complexType name="ArrayOfreportitemusage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="reportitemusage" nillable="true" type="tns:reportitemusage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfreportitemusage" nillable="true" type="tns:ArrayOfreportitemusage" />
  <xs:complexType name="reportitemusage">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/KeithLink.Svc.Core.Models.SiteCatalog" minOccurs="0" name="images" nillable="true" type="q2:ArrayOfProductImage" />
      <xs:element minOccurs="0" name="itemnumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="totalquantityordered" type="xs:int" />
      <xs:element minOccurs="0" name="totalquantityshipped" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="reportitemusage" nillable="true" type="tns:reportitemusage" />
</xs:schema>