KeithLink/KeithLink.Svc.WebApi/Service References/com.benekeith.ReportService/ReportService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1317/ReportService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KeithLink.Svc.Core.Models.Reports" />
  <xs:element name="GetItemUsageForCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/KeithLink.Svc.Core.Models.Reports" minOccurs="0" name="usageQuery" nillable="true" type="q1:ItemUsageReportQueryModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemUsageForCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/KeithLink.Svc.Core.Models.Reports" minOccurs="0" name="GetItemUsageForCustomerResult" nillable="true" type="q2:ArrayOfreportitemusage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>