KeithLink/KeithLink.Svc.Impl/Service References/com.benekeith.InvoiceService/InvoiceService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/KeithLink.Svc.Core.Models.Invoices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/KeithLink.Svc.Core.Models.Invoices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfInvoice">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Invoice" nillable="true" type="tns:Invoice" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInvoice" nillable="true" type="tns:ArrayOfInvoice" />
  <xs:complexType name="Invoice">
    <xs:sequence>
      <xs:element minOccurs="0" name="customernumber" type="xs:int" />
      <xs:element minOccurs="0" name="datetimeoflastorder" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="division" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="duedate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="invoiceid" type="xs:long" />
      <xs:element minOccurs="0" name="invoicenumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="items" nillable="true" type="tns:ArrayOfInvoiceItem" />
      <xs:element minOccurs="0" name="orderdate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="routenumber" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="shipdate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="stopnumber" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Invoice" nillable="true" type="tns:Invoice" />
  <xs:complexType name="ArrayOfInvoiceItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InvoiceItem" nillable="true" type="tns:InvoiceItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInvoiceItem" nillable="true" type="tns:ArrayOfInvoiceItem" />
  <xs:complexType name="InvoiceItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="amountdue" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="deleteflag" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="invoicedate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="invoiceitemid" type="xs:long" />
      <xs:element minOccurs="0" name="invoicetype" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lineitem" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InvoiceItem" nillable="true" type="tns:InvoiceItem" />
</xs:schema>